---
const landingSections = ["#contact"];
---

<header class="w-full mx-auto my-5">
  <nav class="font-semibold text-gray-600">
    <ul class="flex justify-center gap-3">
      {
        landingSections.map((section) => (
          <li>
            <a class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900" href={section}>{section}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
