---
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 2xl:pt-12 md:pt-0 md:pb-24 gap-8 h-screen"
>
  <div>
    <h1
      class="text-5xl lg:text-[12rem] font-extrabold tracking-tighter text-red-600 opacity-90"
    >
      Juan Araujo
    </h1>
    <h1
      class="text-5xl lg:text-6xl font-extrabold tracking-tighter"
    >
      Developing the cool, nice stuff
    </h1>
    <p class="text-3xl mt-4 italic">
      I've worked professionally with multiple main JavaScript frameworks like
      <b>React.js</b> and <b>Vue.js</b><wbr /> taking an active approach to problem-solving and
      learning quickly when needed.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href="https://docs.google.com/document/d/1sBS9OMYJSoCZlR_wFz9S3FTkjt8EM7VAZSxkmzj1tfc/edit?usp=sharing"
        target="_blank"
        rel="noopener"
        class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
      >
        Download CV
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
      </a>
      <a
        href="https://linkedin.com/in/baltaza"
        rel="noopener"
        target="_blank"
        class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"
      >
        LinkedIn
        <Icon class="text-black w-5 h-5" name="bx:bxl-linkedin-square" />
      </a>
    </div>
  </div>
  <!-- <div class="py-6 md:order-1 hidden md:block">
    <img
      class="rounded-xl"
      src="/hero-setup-min.png"
      alt="Work zone render"
      height="900"
      width="900"
    />
  </div> -->
</main>

