---
import { Icon } from "astro-icon";
---

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText)

  let split = SplitText.create(".gsap-text", {
    type: "words"
  })
  let splitHighlight = SplitText.create(".gsap-highlight", {
    type: "words"
  })
  let splitSummary = SplitText.create(".gsap-summary", {
    type: "lines"
  })


  gsap.from(split.words, {
    y: 100,
    autoAlpha: 0,
    stagger: 0.06,
    ease: 'power1.inOut'
  })
  gsap.from(splitHighlight.words, {
    y: 100,
    autoAlpha: 0,
    stagger: 0.32,
    ease: 'power1.inOut',
    delay: 0.5,
    onComplete: () => {
      let summaryElement = document.getElementsByClassName('gsap-summary')[0]
      let buttonGroupElement = document.getElementsByClassName('button-group')[0]
      summaryElement.classList.remove('opacity-0')
      buttonGroupElement.classList.remove('opacity-0')
      gsap.from(splitSummary.lines, {
        rotationX: -100,
        transformOrigin: "50% 50% -160px",
        opacity: 0,
        ease: "power3.out",
        duration: 0.25,
        stagger: 0.05
      })
    }
  })
</script>

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 2xl:pt-12 md:pt-0 md:pb-24 gap-8 h-screen"
>
  <div>
    <h1
      class="text-8xl lg:text-[12rem] font-extrabold tracking-tighter text-red-600 opacity-90"
    >
      Juan Araujo
    </h1>
    <h1
      class="text-4xl lg:text-6xl font-extrabold tracking-tighter"
    >
      <span class="gsap-text ">Developing the </span><span class="gsap-highlight">cool, nice stuff</span>
    </h1>
    <p class="gsap-summary text-xl lg:text-3xl mt-4 italic opacity-0">
      I've worked professionally with multiple main JavaScript frameworks like
      <b>React.js</b> and <b>Vue.js</b><wbr /> taking an active approach to problem-solving and
      learning quickly when needed.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3 opacity-0 transition-opacity duration-[1500ms] button-group">
      <a
        href="https://docs.google.com/document/d/1sBS9OMYJSoCZlR_wFz9S3FTkjt8EM7VAZSxkmzj1tfc/edit?usp=sharing"
        target="_blank"
        rel="noopener"
        class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
      >
        Download CV
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
      </a>
      <a
        href="https://linkedin.com/in/baltaza"
        rel="noopener"
        target="_blank"
        class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"
      >
        LinkedIn
        <Icon class="text-black w-5 h-5" name="bx:bxl-linkedin-square" />
      </a>
    </div>
  </div>
</main>

